<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projects/bootcamp_course_site/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [QSA,L]
</IfModule>